<% provide(:button_text, 'Save') %>

<section class="pt-4">
<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <%= render 'jogging_times/form' %>
        </div>
        <div class="col-md-8 text-center ps-5">
                <h2><strong>Jogging times</strong></h2>
                <%= render 'jogging_times/filter' %>
            <div class="row">
                <%= render 'jogging_times/jogging_times' %>
            </div>
        </div>
    </div>
    </div>
</section>
